@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Itim&family=Junge&display=swap');

*{
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header: #F92140;
    --cor-secundaria: #810012; 
    --fonte-principal: 'junge';
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--header);
    padding: 25px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: .3s ease-in-out;
    z-index: 999;
}
#header.scroll{
    padding: 0;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}
.icons .icon{
    color: white;
    font-size: 40px !important;
    cursor: pointer;
}

.banner, .banner img{
    width: 100%;
}
.filters{
    width: 100%;
    background-color: #b7b7b78c;
    padding: 20px;
}
.container-filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: var(--fonte-principal);
    font-size: 1vw;
    justify-items: center;
}

.option{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: right;
}
.option:not(:last-child){
    border-right: 1px solid var(--cor-secundaria);
}
.optionPerson ul li a{
    text-decoration: none;
    color: black;
}
.option span{
    cursor: pointer;
}
.openOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.search{
    height: 35px;
    border-radius: 10px;
    border: 1px solid silver;
    text-indent: 10px;
    width: 0;
    visibility: hidden;
    transition: .6s cubic-bezier(1, 0.4, 0, 0.71);
}
.search.searchAtive{
    width: 100%;
    visibility: visible;
}
.lupa .icon:hover{
    animation: iconAnimateLupa ease-in-out .5s;
}
.carrinho .icon:hover{
    animation: iconAnimateCart ease-in-out .5s;
}
.perfil .icon:hover{
    transform: scale(1.2);
}
.title{
    font-family: var(--fonte-principal);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFood{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.janelaModal{
    height: 100vh;
    background-color: #c0c0c0bd;
    position: fixed;
    backdrop-filter: blur(6px);
    top: 0;
    left: 0;
    right: 0;
    display: none;
    font-family: var(--fonte-principal);
}
.janelaModal.openModal{
    display: flex;
    z-index: 999;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
}
.modalBody{
    animation: modalAnimate .5s;
}

.modalBody{
    width: 50%;
    background-color: #ffffff4f;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#btnClose{
    position: absolute;
    top: 0;
    left: 0;
}
#btnClose > .close, #btnClose-modalInfo > .btnCloseInfo{
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    cursor: pointer;
}
#btnClose > .close:hover, #btnClose-modalInfo > .btnCloseInfo{
    background-color: rgb(255, 0, 0);
    transition: .6s;
}
.user{
    font-size: 10vw !important;
    color: white;
}
.contentPerson{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    height: 100vh;
    width: 100%;
}
.iconPerson{
    display: flex;
    align-items: center;
    justify-content: center;
}
.optionPerson{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.optionPerson ul{
    list-style: none;
    display: flex;
    gap: 29px;
    flex-direction: column;
    font-size: 2vw;
    text-align: center;
    width: 95%;
}
.optionPerson ul li{
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid white;
}
.optionPerson ul li:hover{
    border: 2px solid #810012;
    transition: .6s;
}
.person, .modalBody{
    border-radius: 20px 0 0 0;
}
.person{
    background-color: #810012;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}
.foods .titleFoods{
    text-align: center;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}
.containerFoods{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
}
.cardFoods{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    border-radius: 15px;
    border: 1px solid var(--cor-secundaria);
    font-family: var(--fonte-principal);
}
.imgFood{
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgFood, .nameFood{
    background-color: var(--cor-secundaria);
}
.imgFood img{
    border-radius: 15px;
    object-fit: contain;
    height: 100%;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.valueFood, .nameFood{
    width: 100%;
    text-align: center;
    color: white;
}
.nameFood{
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    padding: 25px 0px 15px;
}
.valueFood, .btnInfo{
    background-color: white;
    color: black;
}
.btnInfo{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.btnInfo button{
    width: 50%;
    border-radius: 30px;
    background-image: linear-gradient(to right, var(--header), var(--cor-secundaria));
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btnInfo button:hover{
    box-shadow: 0px 0px 20px 1px var(--header);
    transition: .5s;
}
.line{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 1px;
}
footer{
    height: 250px;
    margin: 10% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-image: url(../_imagens/sistema/footer.png);
    background-size: cover;
    backdrop-filter: blur(1px);
    border-top: 3px solid rgba(255, 0, 0, 0.541);
}
.copy{
    display: flex;
    background-color: #ffffff6e;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    font-size: 2vw;
    font-family: var(--fonte-principal);
}
.filterMobile{
    display: none;
}
.iconFilter{
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 60px;
    align-items: center;
}
.lineFilter02{
    width: 60% !important;
}
.lineFilter03{
    width: 20% !important;
}
.lineFilter{
    display: flex;
    height: 3px;
    width: 100%;
    background-color: black;
}
.iconFilter .lineFilter{
    transition: .2s;
}
.iconFilter.ativeIcon .lineFilter01{
    width: 50% !important;
    transform: rotate(43deg) translateY(11px) translateX(8px);
    transition: .2s;
}
.iconFilter.ativeIcon .lineFilter03{
    transform: rotate(-47deg) translateX(-1px);
    width: 50% !important;
}
.iconFilter.ativeIcon .lineFilter02{
    width: 0 !important;
    transition: .2s;
}
/* Animação da lupa */
@keyframes iconAnimateLupa {
    0%{
        transform: translate3d(0, 0, 0);
    }
    50%{
        transform: translate3d(0, 20px, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}

/* Animação do carrinho */
@keyframes iconAnimateCart {
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

/* Animação da janela modal */
@keyframes modalAnimate {
    from{
        transform: translate3d(100vw, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
@keyframes modalAnimateClose {
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 100vw);
    }
}
@keyframes lineFilterAnimate {
    0%{
        width: 100%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}
@media(max-width: 550px){
    .banner{
        height: 230px;
        width: 100%;
    }
    .iconFilter{
        border-radius: 0px solid red;
        transition: .4s;
        cursor: pointer;
    }
    .iconFilter.ativeIcon{
        height: 30px;
        border-radius: 10px;
        border: 1px solid red;
    }
    .iconFilter.ativeIcon .lineFilter{
        background-color: red;
    }
    .container-filters{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 3vw;
        height: 0;
        visibility: hidden;
        text-align: center;
        transition: .4s cubic-bezier(1, -0.07, 0.46, 1.47);
        overflow: hidden;
        opacity: 0;
    }
    .container-filters.ativeFilter{
        width: 100%;
        height: 100%;
        visibility: visible;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3vw;
        text-align: center;
        justify-content: space-around;
        opacity: 1;
        padding-top: 25px;
    }
    .option:not(:last-child){
        border-right: none;
    }
    .filters{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .filterMobile{
        display: flex;
    }
    .banner img{
        width: 100%;
        height: 100%;
    }
    #header{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .icons{
        align-items: center;
        gap: 15px;
        padding: 10px;
        width: 100%;
    }
    .janelaModal.openModal .modalBody{
        display: flex;
        z-index: 999;
        width: 100vw;
    }
    .person{
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .person .user{
        font-size: 30vw !important;
    }
    .optionPerson{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .optionPerson ul{
        padding-top: 35px;
    }
    .optionPerson ul li{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vw;
    }
    .copy{
        font-size: 6vw;
    }
    .option{
        border: none;
    }
    .container-filters .option .openOption .menuDropdown{
        position: sticky;
        background-color: var(--cor-filterBar);
        width: 100%;
        left: 0;
        backdrop-filter: blur(4px);
        z-index: 1;
        border-radius: 10px;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: .4s cubic-bezier(0.89, -0.01, 0, 1.22);
    }
}